@font-face {
  font-family: "hershey";
  src: url(fonts/hershey-futuram-webfont.woff2) format("woff2"), url(fonts/hershey-futuram-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.cb {
  clear: both;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: "hershey";
  font-weight: bolder;
  text-align: center;
}

.no-gutter {
  margin: 0;
  padding: 0;
}

.spacer {
  height: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

nav {
  font-family: "hershey";
  font-size: 18px;
}
nav .logo {
  width: 45px;
  height: 45px;
  background: url(../static/img/logo.png) center center no-repeat;
  background-size: contain;
  margin: 10px;
  display: inline-block;
}

ul#menuMain li {
  display: inline-block;
  list-style: none;
  padding-top: 5px;
  margin-right: 20px;
  height: 50px;
  float: left;
  vertical-align: middle;
  margin-top: 20px;
  text-align: center;
  position: relative;
}
ul#menuMain li:first-child {
  padding: 0;
  height: 40px;
  margin-top: 0;
}
ul#menuMain li span:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 20px;
  background: red;
  transition: all 0.1s linear;
}
ul#menuMain li:hover span:before {
  height: 2px;
  bottom: 10px;
  background: red;
}
ul#menuMain li a {
  color: #000;
}
ul#menuMain li a:hover {
  color: #666;
  text-decoration: none;
}
ul#menuSecond {
  text-align: right;
  margin-right: 20px;
}
ul#menuSecond li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  height: 40px;
  vertical-align: middle;
  margin-top: 20px;
  text-align: center;
}
ul#menuSecond li a {
  color: #000;
}
ul#menuSecond li a:hover {
  color: #666;
  text-decoration: none;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 500px;
  margin-top: 0;
  font-size: 120px;
  background-color: transparent;
  border: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.carousel-control .left {
  height: 100%;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  display: block;
}

.carousel-control.right, .carousel-control.left {
  background-image: none !important;
  background-repeat: repeat-x;
}

.cta {
  text-align: center;
  border-radius: 10%;
  padding: 20px;
  border: solid 2px #add8e6;
}
.cta img {
  max-height: 80px;
}
.cta .ico {
  height: 100px;
}
.cta h3 {
  font-size: 24px;
  margin-top: 20px;
}

.cta-btn {
  padding: 20px 0;
}

.homePush h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #000;
}

.greyBg {
  background: #002B36;
}
.greyBg h2 {
  color: #fff;
}

.homePush {
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}

.tutoItem .tutoBox {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 2%;
  text-align: center;
}
.tutoItem .tutoBox img {
  max-width: 110%;
  min-height: 100%;
  display: block;
}
.tutoItem .tutoBox .overTuto {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 50%;
  transition: bottom 0.2s ease;
  color: #fff;
}
.tutoItem .tutoBox .overTuto:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  z-index: 1000;
  left: 50%;
  border-radius: 50%;
  margin-left: -10px;
  transition: all 0.2s ease;
}
.tutoItem .tutoBox .green.overTuto:before {
  background: #90ee90;
}
.tutoItem .tutoBox .blue.overTuto:before {
  background: blue;
}
.tutoItem .tutoBox .red.overTuto:before {
  background: red;
}
.tutoItem .tutoBox:hover .green.overTuto:before {
  background: url(../static/img/chip.png) no-repeat #90ee90;
  background-position: center !important;
  background-size: 40%;
}
.tutoItem .tutoBox:hover .blue.overTuto:before {
  background: url(../static/img/cncico.png) no-repeat blue;
  background-position: center;
  background-size: 40%;
}
.tutoItem .tutoBox:hover .red.overTuto:before {
  background: url(../static/img/3dprint.png) no-repeat red;
  background-position: center;
  background-size: 40%;
}
.tutoItem .tutoBox:hover .overTuto {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #2c3e50;
  height: 50%;
}
.tutoItem .tutoBox:hover .overTuto:before {
  top: -85px;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
}
.tutoItem .tutoBox .overTuto h4 {
  text-align: center;
  font-size: 18px;
  padding: 30px 0 10px;
}
.tutoItem .tutoBox .overTuto span {
  text-align: center;
  font-size: 14px;
  display: block;
}

.workshopList ul {
  list-style: none;
}
.workshopList ul li {
  min-height: 150px;
  display: block;
  margin-bottom: 20px;
}
.workshopList ul li img {
  max-width: 100%;
  border-radius: 2%;
}
.workshopList ul li h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.workshopList ul li .subbtn {
  position: relative;
  text-align: center;
}
.workshopList ul li .subbtn a {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.workshopList ul li .desc .wsdate {
  background: #002B36;
  border: solid 1px #111;
  color: #eee;
  padding: 3px;
  border-radius: 4px;
}

footer {
  background: #2c3e50;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
